<%# Devise sign up form %>
<div class="d-flex flex-column align-items-center justify-content-center">
  <h2 style="font-size: 40px">Welcome to Run Tracker</h2>
  <h4>Sign up using the form below.</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mb-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "border-radius: 20px; outline: none; width: 250px; padding: 5px; border: none" %>
    </div>
    <div class="field mb-2">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em style="opacity: 0.7">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", style: "border-radius: 20px; outline: none; width: 250px; padding: 5px; border: none" %>
    </div>
    <div class="field mb-2">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "border-radius: 20px; outline: none; width: 250px; padding: 5px; border: none" %>
    </div>
    <div class="actions mb-3 mt-4 d-flex justify-content-center">
      <%= f.submit "Sign up", class: "btn btn-primary", style: "width: 200pxrail s" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
