<h2 class="m-3">Run Logs</h2>
<div class="d-flex m-3">
  <%# Search Form %>
  <div class="form">
    <%= search_form_for @q, url: display_path, method: :get do |f| %>
      <div class="form-group">
        <%= f.label :date_cont, "Search by Date" %>
        <%= f.text_field :date_cont, class: "form-control" %>
        <%= f.label :surface_cont, "Search by Surface" %>
        <%= f.text_field :surface_cont, class: "form-control" %>
        <%= f.label :distance_cont, "Distance" %>
        <div class="d-flex justify-content-center align-items-center">
          <%= f.label :distance_cont, "Min" %>
          <%= f.text_field :distance_gteq, class: "form-control" %>
          <%= f.label :distance_cont, "Max" %>
          <%= f.text_field :distance_lteq, class: "form-control" %>
        </div>
        <%= f.label :duration_cont, "Search by duration" %>
        <div class="d-flex justify-content-center align-items-center">
          <%= f.label :duration_cont, "Min" %>
          <%= f.text_field :duration_gteq, class: "form-control" %>
          <%= f.label :duration_cont, "Max" %>
          <%= f.text_field :duration_lteq, class: "form-control" %>
        </div>
        <%= f.label :pace_cont, "Search by pace" %>
        <div class="d-flex justify-content-center align-items-center">
          <%= f.label :pace_cont, "Min" %>
          <%= f.text_field :pace_gteq, class: "form-control" %>
          <%= f.label :pace_cont, "Max" %>
          <%= f.text_field :pace_lteq, class: "form-control" %>
        </div>
      </div>
      <%= f.submit "Search", class: "btn btn-primary m-3"%>
      <%= link_to "Clear", request.path, class: "btn btn-default" %>
    <% end %>
  </div>
  <%# Display %>
  <table class="table table-bordered ml-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Distance</th>
        <th scope="col">Duration</th>
        <th scope="col">Pace</th>
        <th scope="col">Surface</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tests.each do |test| %>
        <tr>
          <td><%= test.date %></td>
          <td><%= test.distance %> km's</td>
          <td><%= test.duration %></td>
          <td><%= test.pace %> per km</td>
          <td><%= test.surface %></td>
          <td><%= test.description %></td>
          <td>
            <%# Edit %>
            <div class="d-flex justify-content-around">
              <%= link_to "Edit", edit_update_path(test), class: "btn btn-warning btn-sm" %>
              <%# Delete %>
              <%= form_tag(display_destroy_path, method: :delete) do %>
                <%= hidden_field_tag :id, test.id %>
                <%= submit_tag 'Delete', class: 'btn btn-outline-danger btn-sm' %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
