<h2>Run Logs</h2>
<table class="table table-bordered">
<thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Distance</th>
      <th scope="col">Duration</th>
      <th scope="col">Pace</th>
      <th scope="col">Surface</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
<% @tests.each do |test| %>
    <tr>
      <td><%= test.date %></td>
      <td><%= test.distance %> km's</td>
      <td><%= test.duration %></td>
      <td><%= test.pace %> per km</td>
      <td><%= test.surface %></td>
      <td><%= test.description %></td>
    </tr>
<% end %>
  </tbody>
</table>